// $background: rgb(255, 243, 136);
$background: #c4b431;
$clr-primary: black;

.buttons {
  background-color: $background;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10vh;

  button {
    border: none;
    padding: 1em 2em;
    outline: none;
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

#button-1 {
  background-color: $background;
  color: $clr-primary;
  border: 2px solid $clr-primary;
  border-radius: 2em;

  &:focus,
  &:focus-within,
  &:hover {
    background-color: $clr-primary;
    color: $background;
    box-shadow: 0 0 0 5px $background, 0 0 0 10px $clr-primary;
  }
}

#button-2 {
  background-color: $background;
  color: $clr-primary;
  border: 2px solid $clr-primary;

  &:focus,
  &:focus-within,
  &:hover {
    background-color: $clr-primary;
    color: $background;
    box-shadow: 0 0 0 5px $background, 0 0 0 10px $clr-primary;
  }
}

.button-3-div {
  position: relative;
  overflow: hidden;

  #button-3 {
    background-color: $clr-primary;
    color: $background;
  }

  .left {
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    position: absolute;
    background-image: linear-gradient(to top, transparent, aqua);
    animation: animate-vert ease-in-out 1s infinite reverse;
  }
  .top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    background-image: linear-gradient(to right, transparent, aqua);
    animation: animate-horz ease-in-out 1s infinite;
    animation-delay: 500ms;
  }
  .bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    background-image: linear-gradient(to left, transparent, aqua);
    animation: animate-horz ease-in-out 1s infinite reverse;
    animation-delay: 500ms;
  }
  .right {
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, aqua);
    animation: animate-vert ease-in-out 1s infinite;
  }

  @keyframes animate-vert {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }

  @keyframes animate-horz {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
