 @import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}

.cards {
  background-color: #ffcfbe;
  font-family: 'Lato', sans-serif;
}

/* Cards */

.card-container {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 1em 3em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  height: 40vh;
  width: 20vw;
  background-color: teal;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

/* Card 1 */

.hover-card {
  position: relative;
  transition: color ease-in 150ms;
  background: url('../images/400x400/1.jpg');

  &::before {
    content: '';
    top: 0;
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    transform: scale(0, 1);
    transition: transform linear 150ms;
    margin: 1em 1em;
  }
  
  &::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  &:hover {
    color: transparent;
    
    p.hidden-content {
      color: white;
    }

    &::before {
      transform: scale(1, 1);
    }

  }
  
  p.hidden-content {
    text-transform: capitalize;
    color: transparent;
    transition: color 150ms linear;
    z-index: 1;
  }
  
}




/* Card 2 */

.border-card {
  position: relative;
  background: url('../images/400x400/3.jpg');

  &::before,
  &::after {
    content: '';
    position: absolute;
    border: 1px solid white;
    /* opacity: 0; */
    /* transition: opacity 150ms ease-in; */
    transition: transform 250ms cubic-bezier(.68,-0.55,.27,1.55);
  }

  &::before {
    right: 1em;
    height: 90%;
    transform: scaleY(0.1);
    transform-origin: bottom;
  }

  &::after {
    bottom: 1em;
    width: 90%;
    transform: scaleX(0.1);
    transform-origin: right;
  }

  &:hover {
    
    &::before {
        transform: scaleY(1);
    }

    &::after {
      transform: scaleX(1);
    }
  }

}

/* Card 3 */

.border-card-2 {
  position: relative;
  background: url('../images/400x400/4.jpg');
  color: black;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 90%;
  }

  &::before {
    border-top: 1px solid black;
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(.68,-0.55,.27,1.55);
  }

  &:hover::before {
    transform: scaleX(1);
}

}

/* Button Effects */

.buttons {
  background-color: rgb(255, 243, 136);
}

.button-container {

  $background: rgb(255, 243, 136);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10vh;

  button {
    border: none;
    background-color: black;
    color: $background;
    padding: 1em 2em;
    border-radius: 2em;
  }

  #button-1 {
    border-radius: 2em;

    &:focus,
    &:focus-within,
    &:hover {
    box-shadow: 0 0 0 5px $background,
                0 0 0 10px black;
    }
    
  }
}